
p, a, h1, h3 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



body {
    background-image: url(Web-Project-Formula-One-Materiale/Design/site-background.jpg);
    margin: 0;
}

/* body .background-image{
    background-image: url(Web-Project-Formula-One-Materiale/Design/site-background.jpg);
    background-size: cover;
    display: block;
    filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right:0;
    z-index: -1;
}

body .content{

} */


nav {
    /* background-color: black; */
    /* display: flex;
    justify-content: space-between;
    margin: 30px; */

    /* position: absolute; */
    /* left: 50px; */


    /* rgba 0.8 doesnt inherit, while opacity: 0.8 does*/
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 50px 0 50px;
}

header {
    /* display: flex; */
    position: relative;
}

header img{
    width: 9%;
    position: absolute;
    left: 30px;
    top: -50px;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 60px;
    margin-left: 130px;
}

nav ul li {
    margin: 25px;
}

nav ul li:hover{
    opacity: 1;
}

nav ul li a {
    color: white;
}

nav ul #loginContainer {
    background-color: red;
    align-self: flex-end;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main #mainText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main #midStripes img{
    display: block;
}

main #mainText #mainSubText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#mainText h1 {
    margin-top: 50px;
}

#mainSubText h2{
margin: 0px 20px 0px;
}

main #midStripes {
    background-image: url(Web-Project-Formula-One-Materiale/Design/stribes.png);
    background-repeat: repeat-x;
}

section {
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin: 0 auto;
}

.sectionTop {
    display: flex;
    align-items: center;
}

.sectionContent {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.sectionContent img {
    padding: 10px;
    width: 60px;
}

.sectionContent .contentText p:last-child, .trackContainer p{
    color: grey;
}

.sectionContent .blueLine {
    width: 10px;
    height: 100%;
    background-color: aqua;
}

.trackContainer {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.trackContainer h3 {
    margin: 8px;
}

.trackContainer p {
    margin: 4px;
}

/* .trackContainer img {
    width: 100%;
} */
